<% content_for :sidebar do %>
  <%= render "shared/menu" %>
<% end %>

<div class=''>
  <%= render :partial => "shared/model", :collection => @women %>
  <%= render :partial => "shared/model", :collection => @men %>
  <%= render :partial => "shared/model", :collection => @children %>
</div>