<div>
  <%= render :partial => "shared/filter", 
             :locals => {:path => men_path, 
                         :man => true, 
                         :woman => false, 
                         :child => false, 
                         :collection => @men} %>
</div>

<div>
  <%= render :partial => "shared/model", :collection => @men %>
</div>