<div>
  <% @man.photos.each do |photo| %>
    <%= render :partial => "shared/photo", :locals => {:photo => photo, :path_to_delete => man_photo_path(@man,photo)} %>
  <% end %>
</div>

<%= render :partial => "info_with_options", :locals => {:man => @man} %>