<%= link_to( model_thumb.mediastar? ? mediastar_path(model_thumb) : model_thumb, :class => "model-thumb", :name => model_thumb.full_name) do %>
	<%= image_tag model_thumb.photos.first.image.url(:thumb), :title => model_thumb.full_name %>
  <div class='name'>
    <%= model_thumb.full_name %>
  </div>
<% end %>