<% @models.reject!{|model| model.type == "Child"} if cannot? :read, Child %>

<%= form_for @search, :url => request.url, :html => {:method => :get} do |f| %>
  Find a model: 
  <div class='select-wrapper'>
  	<%= f.collection_select(:full_name_eq, @models, :full_name, :full_name) %> 
  </div>
  <%= f.submit "filter"%>
<% end %>

<%= render :partial => "model_thumb", :collection => @models %>