<div></strong>You are:</strong>
  <%= link_to_unless_current "Woman", new_woman_path %>
  <%= link_to_unless_current "Man", new_man_path %>
  <%= link_to_unless_current "Child", new_child_path %>
</div>

<%= render "form" %>
