<div class='narrow panel'>
  <p class='centered'></strong>You are:</strong><br>
    <%= link_to_unless_current "Woman", new_woman_path %>&nbsp; |&nbsp;
    <%= link_to_unless_current "Man", new_man_path %>&nbsp; |&nbsp; 
    <%= link_to_unless_current "Child", new_child_path %> 
  </p>

  <%= render "form" %>
</div>
