<div>
  <% @model.photos.each do |photo| %>
    <div>
      <% if can? :read, photo %>
        <%= link_to image_tag(photo.image.url(:thumb)), photo.image.url %>
        <% if can? :manage, photo %>
          <%= link_to "delete", [photo.model, photo], :method => :delete, :data => {:confirm => "Delete the photo?"}%>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<%= render "shared/model" %>