<div>
  <% @model.photos.each do |photo| %>
    <div>
      <%= link_to image_tag(photo.image.url(:thumb)), photo.image.url %>
      <% if can? :manage, Photo %>
        <%= link_to "delete", [photo.model, photo], :method => :delete, :data => {:confirm => "Delete the photo?"}%>
      <% end %>
    </div>
  <% end %>
</div>

<%= render "shared/model" %>