<% content_for :sidebar do%>
  <div class='nav-panel'>
    <div>
      <%= render :partial => "shared/filter", :locals => {:path => children_path, :child => true, :man => false, :woman => false} %>
      <%= link_to "back", root_path, :class => "backlink smalltext" %>
    </div>
  </div>
<% end %>

<div class='row'>
  <%= render :partial => "shared/model", :collection => @children %>
</div>