<div>
  <%= render :partial => "shared/filter", 
             :locals => {:path => children_path, 
                         :child => true, 
                         :man => false, 
                         :woman => false,
                         :collection => @children} %>
</div>

<div>
  <%= render :partial => "shared/model", :collection => @children %>
</div>