<li class='two columns'>
  <%= link_to image_tag(photo.image.url(:thumb)), photo.image.url %>
  <%= link_to "delete", path_to_delete, :method => :delete, :data => {:confirm => "Delete the photo?"}%>
</li>