<% if @photo.errors.any? %>
  <% @photo.errors.full_messages.each do |msg| %>
    <div class='error'><%= msg %></div>
  <% end %>
<% end %>

<%= form_for [model, @photo], :url => send_path do |f| %>
  <div class='file-field-hack-parent'>
    <%= f.file_field :image, :id => "real_file_field", :class => "file-field-hack-hidden", :onchange => "getElementById('fake_file_field').value = getElementById('real_file_field').value;" %>
    <div class="row collapse file-field-hack-visible">
      <div class="four columns">
        <span class="prefix">Add photo</span>
      </div>
      <div class="six columns">
        <input type="text" id="fake_file_field"/>
      </div>
    </div>
  </div>

  <%= f.submit "Add photo", :class => "small secondary button" %>
<% end %>
