<div>
  <%= render :partial => "shared/filter", 
             :locals => {:path => women_path, 
                         :woman => true, 
                         :man => false, 
                         :child => false, 
                         :collection => @women} %>
</div>

<div>
  <%= render :partial => "shared/model", :collection => @women %>
</div>